body{
	padding: 0;
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
	font-family: "Myriad Pro";
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input{
	padding: 0;
	border: none;
	outline: none;
}
select{
	border: none;
	outline: none;
	-webkit-appearance: none;
}
/*-------header begin-----------*/
.header{
	width: 100%;
	height: 112px;
	background-color: #ffffff;
	padding-top: 34px;
}
.header>div{
	width: 1176px;
	height: 84px;
	margin: 0 auto;
}
.header-1{
	width: 232px;
	height: 64px;
	float: left;
	padding-top: 20px;
}
.header-1 i{
	display: block;
	background: url(../images/shape-1-26x32.png) no-repeat 0 center;
	width: 26px;
	height: 32px;
	float: left;
}
.header-1 p{
	width: 206px;
	height: 64px;
	font-size: 30px;
	font-family: "Rockwell";
	text-align: right;
	float: left;
}
.header ul{
	width: 500px;
	height: 50px;
	float: left;
	margin: 0 76px 0 78px;
	padding-top: 34px;
}
.header li{
	width: 76px;
	height: 50px;
	font-size:16px;
	color: #202242;
	text-transform: uppercase;
	text-align: center;
	float: left;
	margin-right: 30px;
}
.header-2{
	width: 290px;
	height: 84px;
	float: left;
}
.header-2>p{
	height: 24px;
	font-size: 12px;
	text-align: left;
	line-height: 24px;
}
.header-2 div{
	width: 290px;
	height: 42px;
	margin-top: 18px;
}
.header-2 div p:first-child{
	width: 124px;
	height: 28px;
	background-color: #ffe13e;
	font-size: 16px;
	color: #202242;
	float: left;
	text-align: center;
	padding-top: 14px;
}
.header-2 div p:last-child{
	width: 144px;
	height: 30px;
	font-size: 24px;
	color: #202242;
	float: right;
	text-align: center;
	padding-top: 4px;
	border-left: 2px solid #babbc4;
	margin-top: 4px;
}
/*------------header end-----------------*/

.content-1{
	width: 100%;
    height: 562px;
    background: url(../images/bxoalw-1349x792.png) no-repeat 0 center;
    padding-top: 230px;
}
.content-1-1{
	width: 970px;
	height: 268px;
	margin: 0 auto;
}
.content-1 div p:first-child{
	height: 50px;
	font-size: 48px;
	font-family: "Rockwell";
	text-align: center;
	color: #ffffff;
}
.content-1-1-1{
	height: 34px;
	font-size: 30px;
	text-align: center;
	color: #ffffff;
	margin: 30px auto 44px;
}
.content-1-1 i{
	display: block;
	background: url(../images/shape-6-102x110.png) no-repeat 0 center;
	width: 102px;
	height: 110px;
	margin: 0 auto;
}
.content-1-2{
	width: 572px;
	height: 74px;
	margin: 54px auto 0;
    background-color: #dddddd;
    padding-top: 20px;
}
.content-1-2 div{
	width: 548px;
	height: 56px;
	margin: 0 auto;
	position: relative;
}
.content-1-2 div input{
	display: block;
	width: 274px;
	height: 56px;
	font-size: 18px;
	color: #2d2d2d;
	padding-left: 22px;
	line-height: 56px;
	float: left;
}
.content-1-2 div select{
	width: 110px;
	height: 56px;
	float: left;
	background-color: #ffe13e;
	padding-left: 20px;
	border-right: 2px solid #ffffff;
	font-size: 18px;
	color: #2d2d2d;
}
.content-1-2 div i{
	background: url(../images/-webkit-appearance-15x8.png) no-repeat 0 center;
	display: block;
	width: 15px;
	height: 8px;
	position: absolute;
	left: 354px;
	top: 24px;
	z-index: 999;
}
.content-1-2 div p{
	width: 154px;
	height: 56px;
	background-color: #ffe13e;
	float: left;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 56px;
}
.content-2{
	width: 100%;
	height: 654px;
}
.content-2-1{
	width: 565px;
	height: 540px;
	float: left;
	background-color: #202242;
	padding: 114px 0 0 110px;
}
.content-2-1 div{
	width: 394px;
	height: 430px;
	margin: 0 auto;
}
.content-2-1 div i{
	display: block;
	background: url(../images/shape-7-168x169.png) no-repeat 0 center;
	width: 170px;
	height: 170px;
	margin: 0 auto 48px;
}
.content-2-1-1{
	width: 350px;
	height: 38px;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
}
.content-2-1-2{
	width: 394px;
	height: 68px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	margin: 14px auto 34px;
}
.content-2-1-3{
	width: 158px;
	height: 58px;
	font-size: 18px;
	line-height: 58px;
	color: #ffffff;
	text-align: center;
	margin: 0 auto;
	border: solid 2px #ffffff;
}
.content-2-2{
    width: 580px;
	height: 502px;
	float: left;
	background-color: #ffe13e;
	padding: 152px 0 0 94px;
}
.content-2-2 div{
	width: 394px;
	height: 430px;
}
.content-2-2-1{
	width: 298px;
	height: 134px;
	font-size: 134px;
	line-height: 134px;
	color: #202242;
	text-align: center;
    margin: 0 auto;
}
.content-3{
	width: 100%;
	height: 606px;
	background: url(../images/rectangle-10-1349x700.png) no-repeat 0 center;
	padding-top: 94px;
}
.content-3 div{
	width: 314px;
	height: 94px;
	margin: 0 auto;
}
.content-3 div p:first-child{
	height: 50px;
	font-size: 48px;
	color: #202242;
	text-align: center;
}
.content-3 div p:last-child{
	height: 26px;
	font-size: 24px;
	color: #202242;
	text-align: center;
	margin: 18px auto 0;
}
.content-3 ul{
	width: 1160px;
	height: 318px;
	margin: 86px auto 0;
}
.content-3 ul li{
	width: 260px;
	height: 318px;
	float: left;
	margin-right: 40px;
}
.content-3-1{
	display: block;
	width: 128px;
	height: 128px;
	margin: 0 auto;
}
.content-3-2{
	display: block;
	width: 70px;
	height: 4px;
	background-color: #8d8d99;
	margin: 34px auto 30px;
}
.content-3-3{
	height: 30px;
	font-size: 30px;
	line-height: 24px;
	color: #f4d320;
	font-family: "Rockwell";
	text-align: center;
}
.content-3-4{
	height: 70px;
	font-size: 14px;
	color: #202242;
	line-height: 24px;
	text-align: center;
	margin: 22px auto 0;
}
.content-4{
	width: 100%;
	height: 486px;
	background-color: #ffffff;
	padding-top: 96px;
}
.content-4 div{
	width: 1202px;
	height: 130px;
	margin: 0 auto;
}
.content-4 div div{
	width: 336px;
	height: 130px;
	float: left;
	margin-right: 64px;
}
.content-4 div div p:first-child{
	height: 36px;
	font-size: 36px;
	line-height: 36px;
	color: #202242;
}
.content-4-1{
	height: 58px;
	font-size:16px;
	line-height: 24px;
	color: #adadad;
	margin-top: 36px; 
}
.content-4 div ul{
	width: 802px;
	height: 116px;
	float: left;
	margin-top: 20px;
}
.content-4 div ul li{
	width: 172px;
	height: 116px;
	float: left;
	margin-right: 38px;
}
.content-4 ul{
	width: 1180px;
	height: 182px;
	margin: 80px auto 0;
}
.content-4 ul li{
	width: 376px;
	height: 182px;
	margin-right: 26px;
	float: left;
	background-color: #faf9f9;
	position: relative;
}
.content-4>ul>li>p:first-child{
    width: 340px;
    height: 96px;
	font-size: 14px;
	line-height: 24px;
	color: #a4a4a4;
	font-family: "Rockwell";
	margin: 28px auto 18px;
}
.content-4-2{
    width: 56px;
	height: 16px;
	font-size: 16px;
	color: #696969;
	margin-left: 18px;
}
.content-4 ul li i{
    background: url(../images/layer-4-100x100.png) no-repeat 0 center;
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 252px;
	top: 130px;
	z-index: 999;
}
.content-5{
	width: 100%;
	height: 180px;
	background-color: #202242;
	padding-top: 90px;
}
.content-5 div{
	width: 922px;
	height: 92px;
	margin: 0 auto;
}
.content-5 div div{
	width: 640px;
	height: 92px;
	float: left;
	margin-right: 44px;
}
.content-5 div div p:first-child{
	width: 640px;
	height: 38px;
	font-size: 36px;
	color: #ffffff;
}
.content-5>div>div>p:last-child{
	width: 640px;
	height: 24px;
	font-size: 18px;
	line-height: 24px;
	color: #67687b;
	margin-top: 10px;
}
.content-5-1{
	width: 234px;
	height: 88px;
	background-color: #ffe13e;
	float: left;
	font-size: 18px;
	line-height: 92px;
	color: #202242;
	text-align: center;
	border: 2px solid #ffffff
}

/*-------footer begin-----------*/
.footer{
	width: 100%;
	height: 514px;
	background: url(../images/rectangle-11-1349x656.png) no-repeat 0 center;
	padding-top: 142px;
}
.footer-1{
	width: 1176px;
	height: 20px;
	font-size: 18px;
	color: #ffffff;
	text-align: right;
	margin: 0 auto;
}
.footer-2{
	width: 556px;
	height: 192px;
	margin: 22px auto 20px;
	padding-left: 620px;
}
.footer-2 div{
	width: 246px;
	height: 48px;
	float: left;
	margin-top: 144px;
}
.footer-2 div i{
	display: block;
	background: url(../images/shape-8-33x47.png) no-repeat 0 center;
	width: 33px;
	height: 47px;
	float: left;
	margin-right: 16px;
}
.footer-2 div p{
	width: 194px;
	height: 48px;
	float: left;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}
.footer-2 ul{
	width: 66px;
	height: 180px;
	float: right;
}
.footer-2 ul li{
	width: 66px;
	height: 34px;
	font-size: 16px;
	line-height: 34px;
	text-align: right;
	color: #ffffff;
	border-bottom: 2px solid #565870;
}
.footer>i{
	display: block;
	background: url(../images/group-7-90x18.png) no-repeat 0 center;
	width: 90px;
	height: 18px;
	float: right;
	margin-right: 88px;
}
.footer>p{
	width: 1176px;
	height: 12px;
	font-size: 12px;
	color: #ffffff;
	text-align: right;
	margin: 62px auto 26px;
}
.footer-3{
	width: 280px;
	height: 64px;
	margin: 0 auto;
}
.footer-3 i{
	background: url(../images/shape-10-31x30.png) no-repeat 0 center;
	display: block;
	width: 31px;
	height: 30px;
	margin: 0 auto 16px;
}
.footer-3 p{
	width: 280px;
	height: 16px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}