* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}ul,
p {
  margin: 0;
  padding: 0;
}
/******************************地址列表页面begin******************************/
.manageAddress .bar-footer {
  text-align: center;
  line-height: 2.25rem;
  color: #FFFFFF;
  background: #ff8309;
}
.manageAddress li {
  padding-top: 15px;
  background: #FFFFFF;
  margin-bottom: 15px;
}
.manageAddress .o-address {
  min-height: 2em;
}
.manageAddress .address-fn {
  padding: 5px 0;
  line-height: 20px;
}
.manageAddress .address-fn input {
  vertical-align: middle;
}
// .manageAddress .c-box:after {
//   content: '默认地址';
//   font-size: 14px;
// }
.manageAddress .fn-btn {
  float: right;
  margin-right: 4%;
}
.manageAddress .iconfont {
  padding-right: 5px;
}
.manageAddress .fn-btn a {
  padding: 7px 0;
}
.manageAddress .fn-btn a:first-child {
  padding-right: 15px;
}
.manageAddress .o-tel{
  float: right;
  margin-right: 0.75rem;
}
i.icon-form-checkbox {
  margin-right: 4px;
  width: 0.7rem;
  height: 0.7rem;
  position: relative;
  border-radius: 1.1rem;
  border: 1px solid #c7c7cc;
  box-sizing: border-box;
}
i.icon-form-checkbox {
  color: #7ec420;
  background: no-repeat center;
  background-image: url("../images/da.png");
  background-size: 0.6rem 0.45rem;
  border: 1px solid #7ec420;
  background-color: #fff;
}

.c-box {
  font-size: 12px;
  float: left;
  height: 40px;
   display: block;
   text-align: center;
   border-radius: 4px;
  width: 40px;
  color: #fff;
  line-height: 20px;
  background-color: #a7cf14;
  height: 20px;
}
input[type=radio] {
  width: 18px;
  height: 18px;
  border: none;
  background: url("../images/type-check.png") no-repeat;
  background-size: 18px, 18px;
  -webkit-appearance: none;
  vertical-align: top;
  margin-right: 5px;
}
input[type=radio]:checked {
  background: url("../images/type-checked.png") no-repeat;
  background-size: 18px, 18px;
}
.a-edit,
.a-delete {
  font-size: 12px;
}
.lack {
  margin-top: 80px;
}
.manageAddress .c-box:after {
  font-size: 12px;
}
.o-name {
  font-size: 16px;
  margin-right: 5px;
}
.manageAddress .iconfont {
  font-weight: bold;
  font-size: 14px;
}
.o-address {
  line-height: 30px;
}
.o-address:after {
  content: '';
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #dadada;
  display: block;
  z-index: 1;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/******************************地址列表页面end******************************/
/**
 * 编辑地址页面
 */
.editAddress-content .list-block .item-media + .item-inner{
	margin-left:0rem;
}
.editAddress-content .list-block li:after {
  content: '';
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #dadada;
  display: block;
  z-index: 15;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.editAddress-content .list-block .item-inner:after {
  display: none;
}
.editAddress-content  .msg-item {
  box-sizing: border-box;
  height: 2.1rem;
  padding: 0.5rem 0.75rem;
  background-color: #fff;
}
.editAddress-content  .msg-text {
  display: inline-block;
  font-size: 14px;
  line-height: 1.1;
}
.editAddress-content  .checkbox {
  display: none;
}
.editAddress-content  .switch {
  display: inline-block;
  width: 2.5rem;
  height: 1.2rem;
  border-radius: 0.6rem;
  position: relative;
  background-color: #bdbdbd;
  overflow: hidden;
  box-shadow: #ccc 0 0 0 1px;
}
.editAddress-content  .switch:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 20;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.editAddress-content  .checkbox:checked + .switch:before {
  left: 26px;
}
.editAddress-content  .checkbox:checked + .switch {
  background-color: #a7cf14;
}
/**
 * 个人信息页面
 */
.ub{
    margin-bottom: 2.3rem;
}
.myheader {
    width: 100%;
    height: 7.7rem;
    background: url(../images/userBg.png) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.myheader .mypic {
    display: block;
    margin: 1.65rem auto 0;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
}

.myheader .myname {
    margin-top: 0.2rem;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.myheader .mygrade {
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.myheader .myblind {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 14px;
    color: #fff;
}

.myitem {
    height: 2.4rem;
    width: 100%;
    line-height: 2.4rem;
    background-color: #fff;
    position: relative;
}
.myitem-title {
    display: inline-block;
    margin-left: 0.25rem;
    font-size: 16px;
}

.myitem-text {
    display: inline-block;
    margin-left: 0.4rem;
    font-size: 14px;
}
.new-title {
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
}

.myitem-detail {
    display: inline-block;
    color: #c2c2c2;
    font-size: 12px;
}

.myitem-arrow-small {
    vertical-align: middle;
    width: 0.35rem;
    height: 0.6rem;
}

.myitem-arrow {
    position: absolute;
    top: 50%;
    right: 0.1rem;
    margin-top: -0.45rem;
    width: 0.5rem;
    height: 0.9rem;
}

.myorder {
    height: 2.65rem;
    margin-top: 0.2rem;
    line-height: 2.65rem;
    overflow: hidden;
}
.myitem-ico {
    float: left;
    display: inline-block;
    height: 1.0rem;
    width: 1.0rem;
    position: relative;
    top: 50%;
    margin-top: -0.5rem;
}

.order-inf {
    height: 3.55rem;
    background-color: #fff;
    width: 100%;
    margin-bottom: 0.25rem;
}

.order-inf .detail-box {
    height: 3.55rem;
    position: relative;
}

.order-inf .detail-box:not(:first-child):after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 50px;
    margin: 0.5rem 0;
    width: 1px;
    background-color: #dadada;
    z-index: 1;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    transform-origin: 0 0;
}

.order-inf .order-ico {
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    margin: 0.65rem auto 0.2rem;
}

.order-inf .order-text {
    text-align: center;
    font-size: 14px;
    color: #727071;
}
.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.cell-main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.cell-right {
    margin-right: 10px;
}

.cell-left {
    margin-left: 10px!important;
}
.upline:before,
.underline:after {
    /*0.5像素的线*/
    content: '';
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #dadada;
    display: block;
    z-index: 1;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.opentime {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
}
#settingBtn{
  position: absolute;
    top: 20px;
    height:24px;
    width: 24px;
    right:60px;
}
#messageBtn{
    position: absolute;
    top: 20px;
    height:24px;
    width: 24px;
    right:20px;
}
/**********************************个人信息设置页面begin**********************************/
.account-content .sex-card {
  margin: 0;
}
.account-content .sex-card:after {
  content: '';
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #dadada;
  display: block;
  z-index: 15;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.account-content .sex-card .item-title {
  font-size: 16px;
}
.account-content .img-card .list-block .item-inner {
  min-height: 3rem;
}
.account-content .img-card .list-block .item-after {
  max-height: 2.8rem;
}
.account-content .sex-card img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgba(171, 171, 171, 0.5);
}
.account-content .sex-card .item-after {
  margin: 0;
  font-size: 14px;
  color: #999;
}
.select {
  display: none;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 60%;
  border-radius: 5px;
  background-color: #fff;
  padding-bottom: 15px;
}
.select .select-sex {
  height: 50px;
  line-height: 50px;
  display: flex;
  display: -webkit-box;
  /* android 2.1-3.0, ios 3.2-4.3 */
  position: relative;
}
.select h1 {
  flex: 1;
  -webkit-box-flex: 1;
  /* android 2.1-3.0, ios 3.2-4.3 */
  font-size: 16px;
}
input[type=checkbox] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 19px;
  height: 19px;
  border: none;
  background: url("../images/type-check.png");
  -webkit-appearance: none;
  background-size: 19px, 19px;
}
input[type=checkbox]:checked {
  background: url("../images/type-checked.png");
  background-size: 19px, 19px;
}
.mr0 {
  max-width: 40px;
  margin: 0 5px 0 0;
  padding: 0;
  text-align: right;
  font-size: 14px !important;
  color: #999 !important;
}
.webuploader-pick {
  width: 100%;
  padding: 0;
  background: none;
  color: none;
}
.account-content .sex-card input{
  color: #999;
  font-size: 14px;
  text-align: right;
}
/**********************************个人信息页面end**********************************/
/**********************************添加商品页面begin**********************************/
.addProduct-content .addSpec{
  display: block;
    float: right;
    color: #fff;
    background-color: #a7cf14;
    text-align: center;
    line-height: 30px;
    height:30px;
    border-radius: 4px;
    width: 120px;
    font-size: 14px;
}
.productImg{
  margin-top: 20px;
}
.pic-box {
  width: 100%;
  height: auto;
  padding-bottom: 1.2rem;
  margin-left: 0.7rem;
}
.pic-box .pic-item {
  height: 4rem;
  width: 4rem;
  border: 0.1rem dashed #999;
  border-radius: 0.1rem;
}
.pic-box .pic-ico {
  display: block;
  width: 1.1rem;
  height: 1.0rem;
  margin: 0.9rem auto 0.4rem;
}
.pic-box .pic-text {
  color: #999;
  text-align: center;
  font-size: 12px;
}
.addProduct-content .imgList  {
    width: 100%;
    min-height:100px;
}
.addProduct-content .imgList li {
    margin: 0 0 10px 2%;
    float: left;
    width: 30%;
    height: 80px;
    position: relative;
}
.addProduct-content .imgList li img {
    width: 100%;
    height: 80px;
}
.addProduct-content .p-name{
  font-size: 16px;
  line-height: 30px;
  margin-left: 0.75rem;
}
/**********************************添加商品页面end**********************************/
/******************************添加评论页面begin******************************/
.comment-header {
  padding-top: 0.5rem;
  margin-top: 2.3rem;
  background-color: #fff;
  width: 100%;
  height: 4.45rem;
}
.comment-left {
  float: left;
  width: 3.15rem;
  height: 3.15rem;
  border-radius: 50%;
}
.comment-main {
  margin-left: 4.3rem;
  margin-right: 1.0rem;
}
.comment-title {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.comment-num {
  color: #999999;
  font-size: 12px;
}
.comment-body {
  margin-top: 0.75rem;
  width: 100%;
  height: auto;
  background-color: #fff;
}
.comment-text {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0 0 0.85rem;
  height: 5.9rem;
  font-size: 16px;
  border: none;
}
.pic-check {
  height: 2.0rem;
  line-height: 2.0rem;
  width: 100%;
}
.pic-check .checkbox {
  display: none;
}
.pic-check .checkbox + .ico {
  display: inline-block;
  background: url(../images/type-checked.png) no-repeat;
  background-size: 18px 18px;
  width: 0.9rem;
  height: 0.9rem;
  vertical-align: middle;
}
.pic-check .checkbox:checked + .ico {
  background: url(../images/checked.png) no-repeat;
  background-size: 0.9rem 0.9rem;
}
.pic-check  .pic-select {
  font-size: 14px;
  margin-left: 0.3rem;
}

/******************************添加评论页面end******************************/